* {
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  margin: 0;
  font-family: "Poppins";
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 305px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  overflow-x: hidden;
}
.sidenav a {
  padding-top: 5px;
  color: #524b4b;
  text-decoration: none;
  display: block;
  position: fixed;
  font-weight: 300px;
  font-size: 20px;
  left: 88px;
  width: 305px;
  height: 58px;
}

.link1 {
  top: 173px;
}
.link2 {
  top: 231px;
}
.link3 {
  top: 288px;
}
.link4 {
  top: 347px;
}
.link5 {
  top: 404px;
}
.link6 {
  top: 470px;
}
.link7 {
  top: 527px;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}
.rectangle {
  position: fixed;
  width: 305px;
  height: 141px;
  background-color: #b3afaf;
}
.img {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 26px;
  left: 26px;
  border-radius: 50px;
}
.name {
  position: fixed;
  width: 212px;
  height: 75px;
  top: 38px;
  left: 123px;
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-size: 20px;
}
.img-1 {
  position: fixed;
  width: 32px;
  height: 32px;
  top: 173px;
  left: 25px;
}
.img-2 {
  position: fixed;
  width: 32px;
  height: 32px;
  top: 230px;
  left: 25px;
}
.img-3 {
  position: fixed;
  width: 32px;
  height: 32px;
  top: 288px;
  left: 25px;
}
.img-4 {
  position: fixed;
  width: 32px;
  height: 32px;
  top: 346px;
  left: 25px;
}
.img-5 {
  position: fixed;
  width: 25px;
  height: 20px;
  top: 410px;
  left: 29px;
}
.img-6 {
  position: fixed;
  width: 32px;
  height: 32px;
  top: 470px;
  left: 25px;
}
.img-7 {
  position: fixed;
  width: 25px;
  height: 25px;
  top: 530px;
  left: 32px;
}
.baslık {
  /* Group 63 */

  position: absolute;
  width: 293px;
  height: 45px;
  left: 335px;
  top: 45px;
  font-weight: 500px;
  font-size: 30px;
}
body {
  margin: 0;
  padding: 50px 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  position: absolute;
  right: 650px;
  width: 900px;
  height: 586px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #000;
}

.card {
  background-color: #749dfc;
  padding: 50px 40px 80px 40px; /* altta buton için boşluk */
  border-radius: 20px;
  color: white;
  position: relative;
  margin-top: 40px;
  height: 600px;
  width: 1000px;

  /* SE101/1 Dr.Öğr.Üyesi Ayşen Kozan Introduction to Software Engineering 1 */

  font-family: "Pontano Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;

  color: #ffffff;
}

.course-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
}

.course-info .code {
  font-weight: 600;
  font-size: 22px; /* SE101/1 büyüklüğü artırıldı */
}

.course-title {
  font-size: 18px;
  font-weight: 300;
  margin-top: 8px;
}

.message-box {
  margin-top: 30px;
  background-color: white;
  border-radius: 18px;
  padding: 20px;
  height: 335px;
  width: 700px;
  position: relative;
  left: 100px;
}

.message-box label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.message-box textarea {
  width: 100%;
  height: 120px;
  border: none;
  resize: none;
  font-size: 14px;
  color: #555;
  font-family: "Segoe UI", sans-serif;
  outline: none;
}

.share-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  right: 30px;
  bottom: 30px; /* tam sağ alt */
  width: 160px;
  height: 49px;
}

.share-btn:hover {
  background-color: #0069d9;
}
