
   * {
    box-sizing: border-box;
    font-family: "Poppins";
  }
  
  body {
    margin: 0;
    font-family: "Poppins";
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 305px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    overflow-x: hidden;
  }
  .sidenav a {
    padding-top: 5px;
    color: #524b4b;
    text-decoration: none;
    display: block;
    position: fixed;
    font-weight: 300px;
    font-size: 20px;
    left: 88px;
    width: 305px;
    height: 58px;
  }
  
  .link1 {
    top: 173px;
  }
  .link2 {
    top: 231px;
  }
  .link3 {
    top: 288px;
  }
  .link4 {
    top: 347px;
  }
  .link5 {
    top: 404px;
  }
  .link6 {
    top: 470px;
  }
  .link7 {
    top: 527px;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }
  .rectangle {
    position: fixed;
    width: 305px;
    height: 141px;
    background-color: #b3afaf;
  }
  .img {
    position: fixed;
    width: 80px;
    height: 80px;
    top: 26px;
    left: 26px;
    border-radius: 50px;
  }
  .name {
    position: fixed;
    width: 212px;
    height: 75px;
    top: 38px;
    left: 123px;
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-size: 20px;
  }
  .img-1 {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 173px;
    left: 25px;
  }
  .img-2 {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 230px;
    left: 25px;
  }
  .img-3 {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 288px;
    left: 25px;
  }
  .img-4 {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 346px;
    left: 25px;
  }
  .img-5 {
    position: fixed;
    width: 25px;
    height: 20px;
    top: 410px;
    left: 29px;
  }
  .img-6 {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 470px;
    left: 25px;
  }
  .img-7 {
    position: fixed;
    width: 25px;
    height: 25px;
    top: 530px;
    left: 32px;
  }
  .baslık {
    /* Group 63 */
  
    position: absolute;
    width: 293px;
    height: 45px;
    left: 335px;
    top: 45px;
    font-weight: 500px;
    font-size: 30px;
  }
   body {
      margin: 0;
      padding: 60px 0;
      background-color: #ffffff;
      font-family: 'Segoe UI', sans-serif;
      display: flex;
      justify-content: center;
    }

    .container {
      position: absolute;
      right: 650px;
      top: 159px;
      background-color: #e0e0e0;
      padding: 30px;
      border-radius: 12px;
      max-width: 900px;
      width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 15px;
      color: #000000;
    }

    th, td {
      padding: 14px;
      text-align: left;
      font-weight: normal; /* BAŞLIKLAR VE SATIRLAR AYNI */
    }

    thead th {
      border-bottom: 1px solid #4f4f4f;
    }

    tbody tr:not(:last-child) td {
      border-bottom: 1px solid #c1c1c1;
    }

    @media screen and (max-width: 1024px) {
      body {
        padding: 30px 10px;
      }
    }
   
  